.welcome-area {
  height: 23rem;
}

.welcome-area .header-text h3 {
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  letter-spacing: 1.4px;
  margin-bottom: 30px;
  color: #fff;
  margin-top: 9rem;
}

div.pricing-item.active {
  margin: 0 auto;
  width: 35%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#login-form, div.pricing-item.active.mentor-chat {
  padding: 1rem 3rem;
}

#login-label {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}

#login-submit {
  margin-top: 2rem;
}

/* CONVERSATIONS TAB *********************************************************/
div.pricing-item.active.mentor-chat {
  width: 65%;
  padding: 2rem;
}

#no-messages {
  margin: 0 auto;
  width: 50%;
  margin-left: 80%;
  margin-top: -3rem;
  margin-bottom: 3rem;
}

.message_holder_them {
  margin-left: 5%:
}

input#email.form-control.message {
  width: 25rem !important;
}

#convo-form {
  margin-left: 35%;
  margin-bottom: 3rem;
}

#send-text {
  margin-left: 1rem;
}

.message_holder_mine {
  margin-left: 40%;
}

.card {
  border: 0px;
}
