{% extends "layout.html" %}
{% set active_page = "signup" %}

{% block heading %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/signup-styles.css') }}">
   
{% endblock %}

{% block body %}

    <div class="row">
        <div class="pricing-item active">
            <h4 id="login-label">Join our community!</h4>
            <form id="login-form" action="{{ url_for('signup') }}" method="POST">
            <div class="form-group">
                <label for="name">Username</label>
                    <fieldset>
                    <input name="username" type="text" class="form-control" id="name" placeholder="Username" required="">
                    </fieldset>
            </div>
            <div class="form-group">
                    <label for="email">Password</label>
                    <fieldset>
                    <input name="password" type="password" class="form-control" id="email" placeholder="Password" required="">
                    </fieldset>
            </div>
            <div class="form-group">
                    <label for="email">Confirm Password</label>
                    <fieldset>
                    <input name="confirmation" type="password" class="form-control" id="confirmation" placeholder="Confirmation" required="">
                    </fieldset>
            </div>
            <div class="form-group d-flex justify-content-center">
                <fieldset>
                    <button type="submit" id="login-submit" class="main-button">Sign Up</button>
                </fieldset>
            </div>
            </form>
            
        </div>
    </div>

{% endblock %}